# Unit 29. 함수

## 29.1 출력 함수 만들기

In [ ]:
def hello():
    print('Hello, world!')

In [ ]:
hello()

Hello, world!

## 29.2 덧셈 함수

In [ ]:
# 매개변수, parameter, argument
def add(a, b):
    print(a + b)

In [ ]:
add(4,5)

9

In [2]:
# Docstrings
def add(a, b):
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    print(a + b)

In [3]:
# 도움말 호출
print(add.__doc__)

    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [5]:
x = add(10, 20)
print(x)

30
None

## 29.3 결과값 반환

In [ ]:
def add(a,b):
    return a+b

In [ ]:
add(4,5), add(10,20)

(9, 30)

In [ ]:
x = add(23,45)
x

68

In [7]:
def is_ten(x):
    return x==10

In [9]:
is_ten(101//10) #101을 10으로 나눈 몫

True

In [10]:
def not_ten(x):
    if x==10:
        return
    else:
        print('It is not 10.')

In [12]:
def not_ten(x):
    if x==10:
        return
    print('It is not 10.')

In [11]:
not_ten(5)

It is not 10.

In [18]:
def not_ten(x):
    if x==10:
        return
    print('It is not 10.')
    #10이라면 return(빠져나오기) 아니라면 print이하

In [16]:
not_ten(101//10) #값이 10이면 함수 탈출 (return을 쓰는 이유)

In [17]:
not_ten(5)

It is not 10.

## 29.4 여러개의 결과값 반환

In [21]:
def add_sub(a,b):
    return a+b, a-b

In [22]:
x, y = add_sub(15,7)

In [23]:
x, y

(22, 8)

In [25]:
print(x)
print(y)

22
8

In [24]:
add_sub(15,10)

(25, 5)

## 29.5 함수의 호출 과정

In [31]:
# Stack을 이용한다(LIFO)
z=list(add_sub(14,12))
z

[26, 2]

In [32]:
z.pop()

2

## 연습 문제
- 3자리수 정수 두개를 곱해서 나온 결과가 팔린드롬(Palindrome)이 되도록 할 때, 가장 큰 숫자는?
#이해안됨

In [ ]:
def is_palindrome(x):
    s = str(x)
    return s == s[::-1]

In [ ]:
is_palindrome(12345), is_palindrome(906609)

(False, True)

In [ ]:
max_pal, m, n = 0, 0, 0
for i in range(100, 1000):
    for k in range(i, 1000):
        if is_palindrome(i*k):
            if i*k > max_pal:
                max_pal, m, n = i*k, i, k

print(f'{m} x {n} = {max_pal}')

913 x 993 = 906609